DATABASE_URL=postgresql://postgres:1234@localhost:5432/devblog
JWT_SECRET=super-secret-key-minimum-32-characters-long
JWT_EXPIRES_IN=7d
PORT=3001
CORS_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=dpoaejdti
CLOUDINARY_API_KEY=166479515737958
CLOUDINARY_API_SECRET=mpNBBcRDrFNQ59mzz1qi2tpaly4
CLOUDINARY_UPLOAD_PRESET=devblog_unsigned